@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User Information</div>
        <div class="col-2"><input type="text" id="userConnectionId" style="width: 225px; height: 30px;"/></div>
      
    </div>
    <div class="row">
        <div class="col-2">Online User</div>
        <div class="col-6"><select id="targetConnectionId" style="width: 225px; height: 30px;"><option value=""></option></select></div>
    </div>
    <div class="row">
        <div class="col-2">User Name</div>
        <div class="col-4"><input type="text" id="userInput" style="width: 225px; height: 30px;"/></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" style="width: 225px; height: 30px;"/></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" style="width: 225px; height: 30px;"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>